<div class='parent'>
    <mat-card class="my-card content-center">
        <mat-card-header>
            <mat-card-title>Login</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form class="my-form content-center" [formGroup]="loginForm" (ngSubmit)='login()'>
                <mat-form-field class="full-width ">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Ex. user@example.com" formControlName='email'>
                    <mat-error *ngIf="loginForm.get('email').hasError('email') && !loginForm.get('email').hasError('required')">
                        Please enter a valid email address
                    </mat-error>
                    <mat-error *ngIf="loginForm.get('email').hasError('required')">
                        Email is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <br>
                <mat-form-field class="full-width ">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="Ex. A123Jjnk90O" formControlName='password' type='password' minlength="6">
                    <mat-error *ngIf="loginForm.get('password').hasError('required')">
                        Password is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <br>
                <br>
                <button class='full-width' mat-raised-button color="primary">LOGIN</button>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button color="accent" (click)='goToForgot()'>Forgot password</button>
        </mat-card-actions>
        <mat-card-content>
            <button mat-raised-button color='primary' (click)="registerGoogle()">
                <mat-label>Continue with Google</mat-label>
            </button>
        </mat-card-content>
    </mat-card>
</div>