.radio-group {
    display: flex;
    flex-direction: row;
    margin: 15px 0;
}

.content {
    margin-left: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

:host /deep/ .radio-button .mat-radio-label {
    flex-flow: column-reverse;
}

.icon-radio-button {
    display: inline-flex;
    flex-flow: column-reverse;
    align-items: center;
    margin: 10px;
    margin-left: 0px;
}

.scope-amount {
    font-size: 16pt;
}

mat-card {
    margin-bottom: 5px;
}

button {
    margin-right: 5px;
    float: right;
}